<form action="submit" method="post">
  <p>Ingrese el nombre del producto:</p><input
    type="text"
    placeholder="Nombre del producto"
  />
  <p>Ingrese el precio del producto:</p><input
    type="number"
    placeholder="Precio del producto"
  />
  <p>Ingrese el stock del producto:</p><input
    type="number"
    placeholder="Stock del producto"
  />
  <br />
  <br />
  <button type="submit" onclick="agregarProducto()">Agregar producto</button>
</form>